{% extends "layout.html" %}

{% block title %}
    Meet the Team
{% endblock %}

{% block main %}
<div class="container p-3">
    <div class="row align-items-center mt-3">
        <div class="col">
            <img src="../static/images/Kaitlyn.jpeg" class="img-fluid rounded-circle" style="height: 350px;">
        </div>

        <div class="col">
            <h3 class="p-3"> Kaitlyn Sandor </h3>
            <p>
                Kaitlyn Sandor is a junior majoring in Computer Science at Yale College. In her free time Kaitlyn enjoys spending time with her dog Zorro, running, hiking, and eating pizza.
            </p>
        </div>
    </div>
</div>

<div class="container p-3">
    <div class="row align-items-center mt-3">
        <div class="col">
            <img src="../static/images/Kaitlyn.jpeg" class="img-fluid rounded-circle" style="height: 350px;">
        </div>

        <div class="col">
            <h3 class="p-3"> Madelyn Mao </h3>
            <p>
                Kaitlyn Sandor is a junior majoring in Computer Science at Yale College. In her free time Kaitlyn enjoys spending time with her dog Zorro, running, hiking, and eating pizza.
            </p>
        </div>
    </div>
</div>

<div class="container p-3">
    <div class="row align-items-center mt-3">
        <div class="col">
            <img src="../static/images/Kaitlyn.jpeg" class="img-fluid rounded-circle" style="height: 350px;">
        </div>

        <div class="col">
            <h3 class="p-3"> Zoe Hsu </h3>
            <p>
                Kaitlyn Sandor is a junior majoring in Computer Science at Yale College. In her free time Kaitlyn enjoys spending time with her dog Zorro, running, hiking, and eating pizza.
            </p>
        </div>
    </div>
</div>
{% endblock %}