{% extends "layout.html" %}

{% block title %}
    Analyzing Joe Biden Approval Rating in Relation to Tweets
{% endblock %}

{% block main %}
<div class="mt-4 p-5 bg-light text-black rounded">
    <h2>Our Project</h2>
    <div class="container">
        <p>
            President Biden’s approval ratings have been quite low throughout his term, despite championing major legislative achievements, such as signing the Inflation Reduction Act or canceling $10,000 in student loans. In light of the recent 2022 midterm elections and continuous reporting about President Biden’s unpopularity among voters, we decided to analyze and display how the approval ratings of President Biden correlate with his Tweets (on Twitter) in relation to different political topics. For instance, we might notice that Biden’s tweets about canceling student debt may result in higher approval ratings, whereas discussions about inflation may result in lower approval ratings. We hope to display such information through various components, such as word clouds and graphs, on an interactive web application.         </p>

    </div>
</div>

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<div class="mt-4 p-5 bg-light text-black rounded">
    <h2>Database Structure</h2>
    <div class="container">

        <p>
            1. 'tweets' has the following form
        </p>

<table>
    <tr>
      <th>index</th>
      <th>Unnamed</th>
      <th>username</th>
      <th>tweet_id</th>
      <th>tweet_date</th>
      <th>tweet_content</th>
      <th>tweet_retweet_count</th>
      <th>tweet_quote_count</th>
      <th>tweet_reply_count</th>
      <th>tweet_like_count</th>
    </tr>
  </table>

  <br>
        <p>
            2. 'polling_data' has the following form
        </p>
<table>
    <tr>
        <th>index</th>
        <th>Unnamed</th>
        <th>startdate</th>

        <th>pollster</th>
        <th>samplesize</th>
        <th>population</th>
        <th>approve</th>
        <th>disapprove</th>

    </tr>
    </table>

    </div>
</div>

<div class="mt-4 p-5 bg-light text-black rounded">
    <div class="container">
        <h2>Analyze the Data</h2>
        <div class="container">
        <p> 
            Check out our Key Insights page for detailed descriptions of our findings!
        </p>
      </div>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <a href="/submitqueries"><h3>Submit a Query</h3></a>
            </div>
            <div class="col">
                <a href="/insights"><h3>Key Insights</h3></a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}