{% extends "layout.html" %}

{% block title %}
    Key Insights
{% endblock %}

{% block main %}
<h2>Our Project</h2>
    <div class="container">
        <p>
            First, as an insight to how our website works, I included a demo on the most popular tweet subject from 11/24/2021 to 12/21/2021 in relation to Joe Biden's
            approval and disapproval rating. The stop words were removed from the tweets to just leave the most important pieces of the subject. As you can see, "build" and "better" were some of the most common subjects of his tweets.
            This makes sense when considering this was the time the Biden administration was pushing for the Build Back Better Plan. Additionally, you can see his approval rating plummet and disapproval rating increase in December of 2021. This
            makes sense as it lines up with the first record growth of inlfation article published by the NYT, which was obviously upsetting to American citizens.
        </p>

        <img src="./static/images/cloud.png" alt="my plot" style="max-width: 40%">

        <img src="./static/images/polling_data.png" alt="my plot" style="max-width: 50%">

    </div>
{% endblock %}