{% extends "layout.html" %}

{% block title %}
    Key Insights
{% endblock %}

{% block main %}
<h2 xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml">Our Project</h2> <br>
    <div class="container">
        <h3>How Our Code Works</h3>
        <p>
            First, as an insight to how our website works, I included a demo on the most popular tweet subject from 11/24/2021 to 12/21/2021 in relation to Joe Biden's
            approval and disapproval rating. We first cleaned the data from the two Kaggle tables. We then made sure the dates of the tweets lined up with the dates of
            the approval ratings (both in time period and format). Once the tables were combined into a database, we queried the range for the tweets during that time and the approval rating.
            Once we had the tweets, the stop words were removed from the tweets to just leave the subjects. Because were were multiple disapproval ratings and approval ratings for each day (due to different sources conducting surveys) we chose to
            average the ratings for each day to display on the line chart.
        </p> <br>
        <h3>Analysis</h3>
        <p>
            As you can see, "build" and "better" were some of the most common subjects of his tweets.
            This makes sense when considering this was the time the Biden administration was pushing for the Build Back Better Plan. Additionally, you can see his approval rating plummet and disapproval rating increase in December of 2021. This
            makes sense as it lines up with the first record growth of inflation article published by the NYT, which was obviously upsetting to American citizens.
        </p> <br>
        <h3>SQL Queries</h3>
        <p>
            SELECT startdate, approve, disapprove FROM polling_data WHERE startdate BETWEEN '11/24/2021' AND '12/21/2021' <br>
            SELECT tweet_content FROM tweets WHERE tweet_date BETWEEN '11/24/2021' AND '12/21/2021'
        </p>


        <img src="./static/images/cloud.png" alt="my plot" style="max-width: 40%">

        <img src="./static/images/polling_data.png" alt="my plot" style="max-width: 50%">

        <br>
        <h3>Complex SQL Query</h3>
        <p> This is an example of a complex SQL query that gets the average number of likes Joe Biden got on his tweets a day with his average approval rating.
            Below I included a graph of both his likes and approval ratings over time as a result of this query. The actual query is a little different in my code because SQL Lite 3 does not support FULL OUTER JOIN
            but the sql queries are equivalent.
        </p><br>
        <div style="white-space: pre; text-align:left;"/>
            SELECT DISTINCT startdate, average_tweet_likes, average_approve
            FROM
             (
               (SELECT t1.tweet_date, t1.average_tweet_likes
               FROM
                 (SELECT tweet_date,AVG(Cast(tweet_like_count as Float)) as average_tweet_likes
                    FROM tweets
                    GROUP BY tweet_date
                    HAVING COUNT(*) > 1) t1
                    JOIN tweets t2 ON t1.tweet_date = t2.tweet_date) average_tweets
               FULL OUTER JOIN
                 (SELECT t3.startdate, t3.average_approve
                 FROM
                    (
                      (SELECT startdate,AVG(Cast(approve as Float)) as average_approve
                        FROM polling_data
                        GROUP BY startdate
                        HAVING COUNT(*) > 1) t3
                    JOIN polling_data t4 ON t3.startdate=t4.startdate)
                )
                average_polls
                ON average_polls.startdate=average_tweets.tweet_date
             )
             WHERE average_approve is not NULL
             AND average_tweet_likes IS NOT NULL
        </div>

        <img src="./static/images/ratings.png" alt="my plot" style="max-width: 100%">
<!--        <img src="./static/images/likes.png" alt="my plot" style="max-width: 50%">-->

    </div>
{% endblock %}